{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>{% trans "Все новости категории" %} {{news|length}}</h1>
    {% if is_not_subscruber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondaty btn-sm">Подписаться</a></p>
    {% endif %}
   <hr>
   {% if category_news_list %}
       <table>
           <tr>
               <td>{% trans "заголовок" %}</td>
               <td>{% trans "категория" %}</td>
               <td>{% trans "дата публикации" %}</td>
               <td>{% trans "аннотация" %}</td>
           </tr>

           {% for newsOne in category_news_list %}
           <tr>
               <td>{{ newsOne.post_title }}</td>
               <td>
                   {% for category in newsOne.category.all %}
                    <a href="{% url 'categories_news' category.id %}">{{ category }}</a>
                   {% endfor %}
               </td>
               <td>{{ newsOne.date_time_create|date:'d.m.yy' }}</td>
               <td>{{ newsOne.post_text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans "Новостей нет!" %}</h2>
   {% endif %}

{# Добавляем пагинацию на страницу #}

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.add_post %}
    <a href="{% url 'postEdit' %}">{% trans "Добавить новость" %}</a>
    {% endif %}

{% endblock content %}