{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load tz %}

{% load custom_filters %}
{% load custom_tags %}

{% load cache %} <!-- Загружаем кэширование -->
    {% cache 30 title %} <!-- Кэшируем отдельный блок на 30 секунд -->
        {% block title %}
        News
        {% endblock title %}
    {% endcache %}


{% block content %}

    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label>Time zone:</label>
        <select name="timezone"  id="1">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->


   <h1>{% trans "Все новости портала" %} {{news|length}}</h1>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>{% trans "заголовок" %}</td>
               <td>{% trans "дата публикации" %}</td>
               <td>{% trans "аннотация" %}</td>
           </tr>

           {% for newsOne in news %}
           <tr>
               <td>{{ newsOne.post_title }}</td>
               <td>{{ newsOne.date_time_create|date:'d.m.yy' }}</td>
               <td>{{ newsOne.post_text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans "Новостей нет!" %}</h2>
   {% endif %}

{# Добавляем пагинацию на страницу #}

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.add_post %}
    <a href="{% url 'postEdit' %}">{% trans "Добавить новость" %}</a>
    {% endif %}

{% endblock content %}